<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <style>
      ol, ul {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <ol>
        <li v-for="(item, key) of list" :key="key">{{ item.name }}</li>
      </ol>

      <ul>
        <li v-for="(item, key) of 3" ::key="key">{{item}}</li>
      </ul>

      <ul>
        <li v-for="(value, name, key) in obj" ::key="key">{{name + ': ' + value}}</li>
      </ul>

    </div>

    <script src="/resources/lib/vue.js"></script>
    <script>
      var app = new Vue({
        el: '.box',
        data: {
          list: [{ name: 'Mary' }, { name: 'Lily' }, { name: 'Jack' }],
          obj: {
            name: 'Amy',
            age: 18,
            sex: 'female'
          }
        },
      });
    </script>
  </body>
</html>
